@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

button {
  cursor: pointer;
}

.auth-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  animation: loading-bar-animation 2s infinite;
}

@keyframes loading-bar-animation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-image {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  margin-top: 20px;
  /* Removed spin animation */
}
